<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./Style.css">


</head>
<body class="Desktop">
    <Section>
     
        <Article class="Rectangle1"></Article>
        <Article class="Rectangle2">
            <h1>BARRA DE HERRAMIENTAS</h1>
        </Article>
        <Article class="Rectangle3"></Article>
        <Article class="Rectangle4">
            <h1 class="TEXT1">CONTENIDO </h1>
            <H1 class="TEXT2">SECUNDARIO</H1>
        </Article>
        <Article class="Rectangle5"></Article>
        <Article class="Rectangle6">
            <h1>SUB BARRA DE HERRAMIENTAS</h1>
        </Article>
        <Article class="Rectangle7"></Article>
      


    </Section>
    
</body>
</html>